<?xml version="1.0" encoding="utf-8"?>
<widget id="com.almudir.ai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>المدير AI</name>
    <description>نظام المحاسبة الذكي</description>
    <author email="jadabass956@gmail.com">Jad Abbas</author>
    <content src="https://jasoft-8bae9.web.app" />
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#ffffff" />
    <preference name="LoadUrlTimeoutValue" value="60000" />
</widget>
